@use "../abstracts/" as *;

body {
  font-family: $ff-sans;
  font-size: fs(400);
  line-height: 1.4;
  color: clr(neutral, 400);
  background-color: clr(neutral, 100);
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1,
h2 {
  font-family: $ff-serif;
}

section {
  padding-block: space(700);
}

picture,
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

